@import "~vuetify/src/styles/settings/_variables";

$primary: #b1a460;

@font-face {
  font-family: "Cormorant Light";
  src: url("/font/Cormorant-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "JMH Typewriter";
  src: url("/font/JMH-Typewriter.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("/font/Poppins-Extra-Bold.woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: url("/font/Poppins-Extra-Light.woff2");
  font-weight: 200;
}

.container {
  max-width: 1200px !important;
}

.page-spacer {
  height: 200px;
}

h1 {
  text-transform: uppercase;
  font-family: "Cormorant Light", Serif;
  font-weight: 300;
  font-size: 9rem;
  line-height: 1;
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;

  &::first-line {
    text-decoration: underline 2px $primary;
    text-underline-offset: 26px;
  }
}

h2,
.v-expansion-panel-header__icon .v-icon {
  color: $primary !important;
}

h1.slide-x-transition-enter-active,
h1.slide-x-transition-leave-active {
  transition-duration: 1s !important;
}

.letter {
  max-width: 600px;
  margin: 0 auto;
  font-family: "JMH Typewriter", monospace;
  color: black;
  transform: rotate(-2deg);
  padding: 4rem;
  background-color: white;
  background: url("/img/paper.jpg");
  background-size: cover;

  .letter-head {
    text-align: right;
    margin-bottom: 1em;
  }

  .letter-stamp {
    max-width: 30%;
    margin: 0 auto;
    display: block;
    margin-bottom: 1em;
    user-select: none;
  }

  .letter-muted {
    color: rgba(0, 0, 0, 0.5);
  }
}

.more-info-link {
  display: block;
  width: 100%;
  text-align: center;
}

.dangerous-text {
  font-family: Arial, sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  text-align: center;
  display: block;
  text-transform: uppercase;
  color: $primary;
  margin-top: 4rem;
  font-family: "Poppins", Arial, sans-serif;
  opacity: 0.6;
}

.no-message .v-messages {
  display: none;
}

.navigation {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 200;

  .navigation-link {
    padding: 0.2em 1em;

    text-decoration: underline 1px;
    text-underline-offset: 10px;
    text-decoration-color: rgba(0, 0, 0, 0);
    transition: text-decoration-color 0.3s, color 0.2s;

    &.active {
      color: $primary;
    }

    &:hover {
      text-decoration-color: $primary;
      cursor: pointer;
    }
  }
}
