@import "~vuetify/src/styles/settings/_variables";

$primary: #b1a460;

@font-face {
  font-family: "Cormorant Light";
  src: url("/font/Cormorant-Light.woff2");
}

@font-face {
  font-family: "JMH Typewriter";
  src: url("/font/JMH-Typewriter.woff2");
}

h1 {
  text-transform: uppercase;
  font-family: "Cormorant Light";
  font-size: 9rem;
  border-bottom: 2px solid $primary;
  display: inline-block;
  line-height: 1;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

h1.slide-x-transition-enter-active,
h1.slide-x-transition-leave-active {
  transition-duration: 1s !important;
}

.letter {
  max-width: 600px;
  margin: 0 auto;
  font-family: "JMH Typewriter", monospace;
  background: white;
  color: black;
  transform: rotate(-2deg);
  padding: 4rem;
  background: url("/img/paper.jpg");
  background-size: cover;
}
