@import "~vuetify/src/styles/settings/_variables";

html {
  overflow-y: scroll;
}
html,
body {
  overflow-x: hidden;
  position: relative;
}

$primary: #0171ee;
$aos-distance: 15px;

@import "~aos/src/sass/aos";

@font-face {
  font-family: "Cormorant Light";
  src: url("/font/Cormorant-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "JMH Typewriter";
  src: url("/font/JMH-Typewriter.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("/font/Poppins-Extra-Bold.woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: url("/font/Poppins-Extra-Light.woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Press Start 2P";
  src: url("/font/PressStart2P.woff2");
  font-weight: 300;
}

#app {
  background: url("/img/background-20.png") no-repeat center center fixed;
  background-size: cover;

  /* nearest-neighbor scaling for the background image */
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.page-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.page-background {
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 5px;
  width: 1000px;
  max-width: 100%;
}

.page-spacer {
  height: 200px;
}

h1 {
  font-family: "Press Start 2P", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5rem;
  line-height: 1;
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;

  // &::first-line {
  //   text-decoration-line: underline;
  //   text-decoration-color: $primary;
  //   text-decoration-thickness: 2px;
  //   text-underline-offset: 12px;
  // }
}

h2 {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 800;
  font-size: 2rem;
  margin-top: 3rem;
  text-align: center;
  position: relative;
  padding: 0 20px;
}

.v-expansion-panel-header__icon .v-icon {
  color: $primary !important;
}

.more-info-link {
  display: block;
  width: 100%;
  text-align: center;
}

.dangerous-text {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  text-align: center;
  display: block;
  text-transform: uppercase;
  color: $primary;
  margin-top: 4rem;
  opacity: 0.6;
}

.no-message .v-messages {
  display: none;
}

.navigation {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 200;

  .navigation-link {
    padding: 0.2em 0.8em;

    text-decoration: underline 1px;
    text-underline-offset: 10px;
    text-decoration-color: rgba(0, 0, 0, 0);
    transition: text-decoration-color 0.3s, color 0.2s;

    &.active {
      color: $primary;
      background: rgb(white, 0.7);
    }

    &:hover {
      text-decoration-color: $primary;
      cursor: pointer;
    }
  }

  .navigation-login {
    padding: 0.15em 0.8em;
  }
}

.tournament {
  width: calc(100% - 50px);

  &.alt {
    margin-left: auto;
    color: $primary;
    background: white;

    .tournament-header,
    .tournament-date {
      color: $primary;
    }

    .tournament-button {
      &:hover {
        background: rgba($primary, 0.2);
      }
      color: $primary;
    }

    i {
      color: $primary;
    }
  }

  padding: 1rem 2rem;
  color: white;
  background: $primary;
  margin-bottom: 1rem;

  .tournament-header,
  .tournament-date {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 200;
  }

  .tournament-date {
    text-align: right;
  }

  .tournament-winners {
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    margin-right: 1rem;

    .tournament-winners-placement {
      font-weight: 300;
    }

    ul {
      padding: 0;
    }

    li {
      list-style: none;
    }
  }

  .tournament-button {
    width: 100px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: background 0.2s;

    .tournament-button-icon i {
      font-size: 5rem;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

.player-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signup-box {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  list-style-position: inside;
  list-style: none;
  padding: 1rem;
}

.irc {
  width: 100%;
  height: 700px;
}

code {
  background-color: rgba(255, 255, 255, 0.3) !important;

  -webkit-touch-callout: all; /* iOS Safari */
  -webkit-user-select: all; /* Safari */
  -khtml-user-select: all; /* Konqueror HTML */
  -moz-user-select: all; /* Firefox */
  -ms-user-select: all; /* Internet Explorer/Edge */
  user-select: all; /* Chrome and Opera */
}

.home-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.logo-info-box {
  display: flex;
  align-items: end;
  justify-content: center;

  .home-image {
    width: 505px;
    max-width: 100%;
    position: relative;
    z-index: 2;
  }

  .mt20-info {
    font-family: "Press Start 2P", Arial, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: -50px;
    text-shadow: 4px 4px 0px #015008;

    ul {
      padding: 0;
      list-style: square;
      list-style-position: inside;
      li {
        &:not(:last-child) {
          border-bottom: 2px solid $primary;
        }

        &::marker {
          color: $primary;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .logo-info-box {
    flex-direction: column;

    .mt20-info {
      margin-left: 0;
      margin-top: -20px;
    }
  }
}

.player-card .flag {
  height: 50px;
}

.image-nearest {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.mt20-border {
  display: inline-block;
  border: 48px solid transparent;
  border-image-source: url("/img/mt20_border.png");
  border-image-slice: 80 80 80 80;
  border-image-repeat: repeat;
  border-image-width: 48px;
  border-image-outset: 0;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.eightbitfont {
  font-family: "Press Start 2P", Arial, sans-serif;
  font-weight: 300;
}
